telegram_start_corwin.json
{
  "name": "Telegram to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "events": "message",
        "filters": {
          "rules": [
            {
              "value": "/start",
              "property": "text",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "b9e33b70-4382-4321-a288-74d3cf53d902",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTriggerV2",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "9999",
          "name": "Telegram credentials placeholder"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "spreadsheetId": "_YOUR_SPREADSHEET_ID_",
        "sheetName": "_YOUR_SHEET_NAME_",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "fields": {
          "values": {
            "fields": [
              {
                "value": "={{$json.message.from.id}}"
              },
              {
                "value": "={{$json.message.from.username}}"
              },
              {
                "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
              }
            ]
          }
        }
      },
      "id": "f2a7e7ef-5b53-43f1-a1d9-4f8f4a7b744a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9998",
          "name": "Google Sheets credentials placeholder"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Данные сохранены. Что дальше?",
        "extraOptions": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "Дальше",
                  "callback_data": "next_step"
                }
              ]
            ]
          }
        }
      },
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Telegram Sender",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 4,
      "position": [
        750,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "9999",
          "name": "Telegram credentials placeholder"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
